<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="#">Datting App</a>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Matches</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lists</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Messages</a>
      </li>
    </ul>
    <form [formGroup]="form" class="form-inline mt-2 mt-md-0" (ngSubmit)="login(form)">
      <input class="form-control mr-sm-2" type="text" formControlName="username" placeholder="Username">
      <input class="form-control mr-sm-2" type="password" formControlName="password"  placeholder="Password">
      <button [disabled]="!form.valid" class="btn btn-outline-success my-2 my-sm-0" type="submit">Login</button>
    </form>
</nav>
